body{
    background-image: url("../img/webBackground.jpg");
    background-size: cover;
    background-attachment:fixed;
}
.content{
    height: 100%;
}

/* Styles for Nav*/
.content-nav{
    position:fixed;
    display: inline-block;
    background-color: black;
    background: rgba(0,0,0,0.8);
    max-width: 17%;
    height: 100%;
}
.content-nav-resp{
    display: none;
}
.content-nav .nav-logo{
    padding-top: 5%;
    text-align: center;
}
.content-nav .nav-logo img{
    max-width: 70%;
}
.content-nav .nav-list{
    margin-top: 10%;    
}
.content-nav .nav-list li{
    margin-top: 5px;
}

.content-nav .nav-list a{
    position: relative;
    overflow: hidden;
    line-height: 8vh;
    display:block;
    text-align: center;
/*    transition: border .4s linear;*/
    transition:box-shadow .6s,color 2s;
    text-decoration: none;
}

.content-nav .nav-list a span{
    position:relative;
    left: 0;
    display: inline-block;
    transition: all .6s;
}
.content-nav .nav-list a:before{
    content:attr(data-ghost);
    display: inline-block;
    position: absolute;
    left:200%;
    transition: all .6s;
}
.content-nav .nav-list a:hover{
    color:antiquewhite;
    background: rgba(0,0,0,0.8);
/*    border-left: solid 20px;*/
    box-shadow:inset 0 0 25px 0 antiquewhite;
/*    border-right: solid 20px;*/
/*    border-color: antiquewhite: */
}
.content-nav .nav-list a:hover span{
    left: -100%;
}
.content-nav .nav-list a:hover:before{
    left: 41%;
}

/* Styles for Main */
.content-main{    
    float: right;
    display: inline-block;
    padding: 1% 3%;
    width: 83%;
    color:#fff;
    height: 100%;
}
.content-main .main-section1{
}
.content-main .main-section1 .section1-title{
    
    text-align: center;
    font-weight: bold;
    margin-bottom:5%;
}
.content-main .main-section1{
    margin-bottom: 3%;
}
.content-main .main-section1 .section1-img{
    display: inline-block;
    text-align: center;
    width:20%;
    margin-left: 2.5%;
}
.content-main .main-section1 .section1-img img{
    max-width:100%;
}

.content-main .main-section1 .section1-content{
/*    margin-left: 3%;*/
    display: inline-block;
    padding: 2%;
}
.content-main .main-section1 p{
    float:left;
    width: 77%;
}
.content-main .main-section2{
    margin-left: -3%;
    display: flex;
    padding-top: 0 3%;
}
.content-main .main-section2 article{
    display: inline-block;
    width:30.33%;
    float:left;
    margin-left: 3%;
    height: inherit;
    padding: 2%;
}
.content-main .main-section2 article h2{
    text-align: center;
    padding: 0 0 3% 0;
}
.content-main .main-section2 article P{
    padding: 3% 0;
}


/*Media Querys*/

@media only screen and (max-width:480px) {
    .content-nav{
        display: none;
    }
    .content-nav-resp{
        position: fixed;
        width: 100%;
        display: block;
        height: 40px;
        background-color: rgba(0,0,0,0.9);
    }
    .content-nav-resp span{
        float: right;
        font-size: 1.5em;
        color: burlywood;
        padding-top: 5px;
        margin-right: 3%;
    }
    .content-main{
        margin-top:40px;
        width: 100%;
    }
    .content-main .section1-content .section1-img{
        display: block;
        width:100%;
        padding: 0;
    }
    .content-main .main-section1 p{
        float: right;
        width: 100%;
    }
    .content-main .main-section2{
        display: block;
        width: 100%;
        margin: 0;
    }    
    .content-main .main-section2 article{
        display: inline-block;
        float: none;
        width:100%;
        padding: 3%;
        margin-bottom: 3%;
        margin-left: 0%;
    }
}

@media only screen and (max-width:1024px) and (min-width:481px){
    .content-main .main-section1 p{
    }
    .content-main .section1-content .section1-img{
        float: right;
    }
    .content-main .main-section2{
        display: flex;
        float: none;
        width:100%;
    }
}